<div class="col-md-5">
    <div class = "panel panel-primary">
      <div class = "panel-heading" style="text-align: center"><h4>Storage Demo</h4></div>
      <div class = "panel-heading"  style="text-align: center">
          <button class="btn btn-success" (click)="getAirports()">Get</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteAirports()">Delete</button></div>
      <div class = "panel-body">
          <table class = "table table-striped table-bordered">
              <tr>
                  <th>Available Airports</th>
              </tr>
              <tr *ngFor = "let airPort of airPorts">
                  <td>{{airPort}}</td>
                </tr>
            </table>
      </div>
      <div class = "panel-footer" align = right>Copyright {{version}}</div>
      <div>{{finalMessage}}</div>
    </div>
  </div>