<div class="col-md-4">
    <div class = "panel panel-primary">
      <div class = "panel-heading">Employee Details</div>
      <div class = "panel-body">
        <table class = "table table-striped table-bordered">
          <tr>
              <th>Employee Name</th>
              <th>Employee Id</th>
          </tr>
          <tr *ngFor = "let emp of empList">
              <td><span (click) = "sendInfo($event)">{{emp}}</span></td>
              <td>75022392</td>
            </tr>
        </table>
      </div>
      <div class = "panel-footer">Copyright</div>
    </div>
  </div>