.boldText {
    font-size: 80%;
    color: black;
    font-style: italic;
    position: fixed;
}

.arrange-vertically > * {
    display: block;
}

.arrange-horizontally > * {
    display: inline-block;
    text-align: center;
}